
  <!--===============FORMULARIO DATOS OBJETO===============-->
<main
<div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Editar objeto</h1>
                        </div>
                        <form method="post" action="/objetos/guardar" enctype="multipart/form-data">
                         <div class="row">
                                   {{!-- <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Nombre</span>
                                        <input class="form-control" type="text" name="nombre" required>
                                    </div>
                                </div>--}}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">ID</span>
                                        <input class="form-control" type="text"
                                           name="id" value="{{_id}}"required>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Título</span>
                                        <input class="form-control" type="tel" id="filtro"
                                            placeholder="Taza,ordenador,abrigo..." name="titulo" value="{{titulo}}"required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Localización</span>
                                        <input class="form-control" type="text" placeholder="Estación de metro" name="localizacion" value="{{localizacion}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Fecha</span>
                                        <input class="form-control" type="date" name="fecha" value="{{fecha}}"required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Descripción</span>
                                      {{!--   <input class="form-control" type="text"> --}}
                                        <textarea class="form-control" name="descripcion" rows="2" value="{{descripcion}}" required>
                                          </textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label errText">Foto objeto</span>
                                        <input type="file" name="foto" id="foto"/> 
                                    </div>
                                    <div class="form-btn">
                                        <button id="boton" class="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


